@import url("https://fonts.googleapis.com/css2?family=Exo+2:wght@400;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Exo 2", sans-serif;
}

@layer utilities {
  .active {
    background-color: white;
    padding: 4px 8px;
    border-radius: 8px;
    color: black;
  }

  .pending {
    padding: 4px 8px;
  }
}
